// Navigation Styles here

nav { 
    width: 100%;    
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px dashed @navigation-border;
    display: flex;
    justify-content: center;

    @media @mobile {
        
    }
    
    .fun-bus {
        color:@shark;
    }

    .links {
        padding-top: 8px;
        padding-left: 200px;
    }

    a {
        text-decoration: none;
        color: @shark;
        font-size: 2rem;
        margin: 20px; 
    }
}

